 <h2>Update Task</h2>
        <form method="POST" action="/task/update/{{_id}}?method=PUT">

        <label>Title</label>
        <input type="text" name="title" id="title" value="{{title}}"> <br><br>

        <label>Description</label>
        <textarea id="description" name="description">{{description}}</textarea><br><br>

        <label>Due Date</label>
        <input type="date" name="dueDate" id="dueDate" value={{formattedDueDate}}><br><br>

        <label>Priority</label>
        <select name="priority">
            <option value="low" {{#isSelected "low" priority}} {{/isSelected}}>Low</option>
            <option value="medium" {{#isSelected "medium" priority}} {{/isSelected}} >Medium</option>
            <option value="high" {{#isSelected "high" priority}} {{/isSelected}}>High</option>
        </select>
        <br><br>

        <label>Status</label>
        <select name="status">
            <option value="open" {{#isSelected "open" status}} {{/isSelected}}>Open</option>
            <option value="hold" {{#isSelected "hold" status}} {{/isSelected}}>On Hold</option>
            <option value="completed" {{#isSelected "completed" status}} {{/isSelected}}>Completed</option>
        </select>
        <br><br>

        <input type="submit" value="Update Task">
    </form>

